<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Edit Movie</title>
</head>
<body>
<div class="jumbotron">
    <h2>Add a new Movie !!</h2>
    <form action="#"
          th:action="@{/update/{id}(id=${Movie.id})}"
          th:object="${Movie}"
          method="post">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" th:field="*{title}" id="title" placeholder="Title">
        <label for="Director">Director</label>
        <input type="text" class="form-control" th:field="*{Director}" id="Director" placeholder="Director">
        <label for="quantity">Quantity</label>
        <input type="text" class="form-control" th:field="*{quantity}" id="quantity" placeholder="Quantity">
        <label for="genre">Genre</label>
        <input type="text" class="form-control" th:field="*{genre}" id="genre" placeholder="Genre">
        <label for="price">Price</label>
        <input type="number" class="form-control" th:field="*{price}" id="price" placeholder="Price" step="0.01">
        <br>
        <button class="btn btn-success" type="submit" id="submit-form">
            Update
        </button>
    </form>
</div>
</body>
</html>